$customRed: rgb(233, 80, 49);
$customBlack: rgb(50, 50, 50);
$customBlackTransparent: rgba(32, 32, 32, 0.3);

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html{
  font-size: 62.5%;
  width: 100%;
  body{
    width: 100%;
    height: 100%;
    zoom: 1;
    position: relative;
    background-color: #55728b;
    background-image: url('../../images/shattered.png');
    background-size: cover;
    main{
      width: 60%;
      height: 60%;
      margin: 5% auto;
      font-size: 2rem;
      background-color: $customBlackTransparent;
      padding: 2%;
      border-radius: 3px;
      .registration-form{
        text-align: center;
        margin: 5% auto;
        width: 85%;
        height: 65%;
        background-color: $customBlack;
        border: 2px solid $customRed;
        border-radius: 5px;
        color: rgb(255, 255, 255);
        div {
          margin-bottom: 3%;
          input{
            float: right;
            height: 25px;
            border-radius: 2px;
            border: 1px solid $customRed;
            padding: 2%;
            &:focus, &:active{
              outline: none;
            }
            font-size: 1.5rem;
          }
          label{
            float: left;
          }
          &:after{
            content: ".";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
          }
        }
        .user-data-wrapper{
          width: 60%;
          margin: 2% auto;
          &:after{
            content: ".";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
          }
        }
        button{
          margin: 2% auto;
          width: 20%;
          height: 35px;
          background-color: $customRed;
          box-shadow: 5px 5px 1px 0 rgb(93,32,19);
          -moz-box-shadow: 5px 5px 1px 0 rgb(93,32,19);
          -webkit-shadow: 5px 5px 1px 0 rgb(93,32,19);
          border: none;
          outline: none;
          color: $customBlack;
          font-size: 2rem;
          border-radius: 2px;
          &:focus, &:active{
            outline: none;
          }
          &:active {
            position: relative;
            top: 3px;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-shadow: none;
          }
        }
      }
    }
  }
}
