$customRed: #e95031;

main {
  max-width: 960px;
  margin: 20px auto;
  font-size: 1.9rem;
  color: #ffffff;
  max-height: 100%;
  a {
    text-decoration: none;
    color: $customRed;
  }
}

