aside {
  border-right: dashed 1px #ffffff;
  display: inline-block;
  width: 20%; }
  aside ul {
    width: 100%;
    list-style: none; }
    aside ul li {
      width: 100%;
      height: 100%;
      display: block;
      outline: none;
      line-height: 30px;
      text-align: left;
      font-size: 1.5rem;
      vertical-align: middle; }
      aside ul li:before {
        content: url("../images/nav_forums.png"); }
      aside ul li a {
        color: #fff;
        text-align: right; }
        aside ul li a:hover {
          font-size: 1.9rem;
          text-decoration: none;
          color: orange; }
