main {
  background-color: slategray;
  max-width: 70%;
  margin: 0 auto;
  padding: 2%; }
  main aside {
    border-right: dashed 1px #ffffff;
    display: inline-block;
    width: 20%; }
    main aside ul li {
      margin: 5px;
      list-style-type: none; }
      main aside ul li a {
        font-size: 1.7rem;
        text-decoration: none;
        color: whitesmoke; }
        main aside ul li a:hover {
          font-size: 1.9rem;
          text-decoration: none;
          color: orange; }
  main section {
    vertical-align: top;
    display: inline-block;
    margin: 0 20px;
    width: 70%; }
    main section h1 {
      padding: 1%;
      height: 7%;
      font-size: 2rem;
      color: aliceblue;
      background-color: #e95031;
      font-weight: normal;
      border-bottom: 3px solid orange; }
    main section article {
      height: 30%;
      padding: 1% 2% 2% 2%;
      border-bottom: 1px groove orange;
      background-color: darkgray;
      width: 100%; }
      main section article a {
        font-size: 1.7rem;
        color: whitesmoke;
        text-decoration: none; }
        main section article a:hover {
          color: #323232; }
